.site-footer {
  text-align: center;

  .footer-col-wrapper {
    display: block;
  }

  .social-links {
    display: flex;
    justify-content: center;
  }
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0.4em;
  }

  .post-link {
    font-size: 1rem;
  }

  .post-meta {
    white-space: nowrap;
    margin-left: 1em;
  }
}
